<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chrono</title>
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{{ asset('js/index.js') }}"></script>
</head>
<body>
<div class="page-container">
    <div class="header">
        <div class="first-page">
            <button onclick="window.location.href = 'https://127.0.0.1:8000';" class="Logo">Chrono</button>
            <div class="navigation__box">
                <a class="navi">Info</a>
                <a class="navi">Update</a>
                <a href="{{ path('login') }}" class="navi">Login</a>
            </div>
        </div>
    </div>
    <div class="second-page">
        <div class="title__box">
            <div class="title">
                <a class="text-title">
                    Watch movies with your dear ones
                </a>
                <a class="text-title">
                    in the midst of space.
                </a>
            </div>
            <div class="subtitle">
                <a class="text-subtitle">
                    Connect the voice of space
                </a>
            </div>
        </div>
        <button onclick="createRoom()" class="create-room">
            <a class="text-button">
                create your room
            </a>
        </button>
        <div class="Logo-image">
            <img class="img-logo" src="{{ asset('css/img/Logo.png') }}" alt="тут лого картинка">
        </div>
    </div>
    <div class="way-to-room">
        <a class="text-way">1. Create a room</a>
        <svg fill="currentColor" aria-hidden="true" class="arrow" preserveAspectRatio="none" viewBox="0 0 24 44">
        </svg>
        <a class="text-way">2. Share the link</a>
        <svg fill="currentColor" aria-hidden="true" class="arrow" preserveAspectRatio="none" viewBox="0 0 24 44">
        </svg>
        <a class="text-way">3. Watch the galaxy</a>
    </div>
    <div class="info_container">
        <div class="info__box">
            <div class="info-img">
                <img class="img-info" src="{{ asset('css/img/help-us.png') }}" alt="тут вспомогательная картинка">
            </div>
        </div>
        <div class="info-text__box">
            <a class="text-title2">
                Need help navigating the cosmos? We've got you covered in space!
            </a>
            <a class="text-subtitle2">
                Join Us for a Conscious Viewing Experience from the Station! Come aboard for mindful observation and
                exploration.
                Discover the wonders of space with us as we embark on an enlightening journey together. Your cosmic
                adventure awaits!
            </a>
            <button class="help">Explore Now</button>
        </div>
    </div>
    <div class="footer__box">
        <div class="p-a-p">Proudly powered by Your Company</div>
        <div class="navigation">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
        </div>
    </div>
</div>
</body>
